*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
/*Navigation bar*/
nav{
    background-color: white;
    border-bottom: 1px solid rgb(226, 225, 225);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    
}

nav img{
    height: 80px;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
li{
    padding-left: 50px;
    font-size: 1.1rem;
    
}
@media screen and (max-width:600px){
    li{
        padding: 0;
    }
}
.signin-button{
    border-style: none;
    font-size: 1.1rem;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
}
.nav-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 220px;
    padding: 7px 10px;
}
@media screen and (max-width:600px){
    .nav-box{
        border: 0px;
        background: none;
        width: auto;
    }
}
.nav-box-signin{
    background-color: black;
    color: white;
}
@media screen and (max-width:600px){
    .nav-box-signin{
        background: none;
        color: black;
    }
    .nav-box-signin-text{
        margin-left: 5px;
    }
    .nav-box-cart-text{
        display: none;
    }
}

.dropdown{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;    
    text-align: center;
    width: 220px;
    padding: 7px 10px;
}
@media screen and (max-width:600px){
    .dropdown{
        width: auto;
    }
}
.dropdown li{
    padding: 0;
}
.dropdown_show{
    display: block;
}

.nav-box-signin:hover{
    background-color: white;
    color: black;
}
.nav-box-cart:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:600px){
    .nav-box-cart:hover{
        background: none;
        color: black;
    }
}

/* Cart table section */
.cart-sec{
    margin: 150px auto 50px auto;
    max-width: 1000px;
}
.cart-div{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.cart-table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: rgb(154, 185, 185);
    padding: 5px;
    text-align: left;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0 0;
    width: 60%;
}
@media screen and (max-width:600px) {
    .cart-item{
        flex-direction: column;
        width:auto;
        height: 200px;
    }
}
tr img{
    width:100px;
}
.remove{
    border-style: none;
    background-color: red;
    color: white;
    padding: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.cart-item-details{
    text-align: center;
}
.qty{
    width:45px;
    height:30px;
    padding: 5px;
    margin-right: 5px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 40%;
    margin: 10px 100px 0 0;
    border-top: 1px solid red;
}
@media screen and (max-width:600px) {
    .total{
        width:100%;
        margin-right: 0;
    }
}
.checkout-link{
    display: flex;
    align-self: flex-end;
    text-decoration: none;
    margin: 30px 100px 0 0;
}
.checkout-btn{
    background-color: rgb(154, 185, 185);
    height: 50px;
    width: 250px;
    border-width: 1px;
    border-radius: 15px;
    cursor: pointer;
}