*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
/*Navigation bar*/
nav{
    background-color: white;
    border-bottom: 1px solid rgb(226, 225, 225);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    
}

nav img{
    height: 80px;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
li{
    padding-left: 50px;
    font-size: 1.1rem;
    
}
@media screen and (max-width:600px){
    li{
        padding: 0;
    }
}
.signin-button{
    border-style: none;
    font-size: 1.1rem;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
}
.nav-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 220px;
    padding: 7px 10px;
}
@media screen and (max-width:600px){
    .nav-box{
        border: 0px;
        background: none;
        width: auto;
    }
}
.nav-box-signin{
    background-color: black;
    color: white;
}
@media screen and (max-width:600px){
    .nav-box-signin{
        background: none;
        color: black;
    }
    .nav-box-signin-text{
        margin-left: 5px;
    }
    .nav-box-cart-text{
        display: none;
    }
}

.dropdown{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;    
    text-align: center;
    width: 220px;
    padding: 7px 10px;
}
@media screen and (max-width:600px){
    .dropdown{
        width: auto;
    }
}
.dropdown li{
    padding: 0;
}
.dropdown_show{
    display: block;
}

.nav-box-signin:hover{
    background-color: white;
    color: black;
}
.nav-box-cart:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:600px){
    .nav-box-cart:hover{
        background: none;
        color: black;
    }
}

/*Capsules Section*/
.capsules-sec{
    margin-bottom: 50px;
}
.capsules-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capsules-div h2{
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 30px;
    padding: 5px 15px;
}
.capsules-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media screen and (max-width:600px){
    .capsules-grid{
        grid-template-columns: auto auto;
    }
}
.capsule{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:20px 40px;
    width: 120px;
}
.capsule-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.capsule-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capsule:hover{
    scale: 1.1;
}
.capsule a{
    text-decoration: none;
}
.capsule img{
    width: 100%;
}
.capsule .capsule-name{
    font-weight: bold;
    color: black;
    margin-top: 20px;
    text-align: center;
}
.capsule .price{
    color: green;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.capsule .add{
    background-color: green;
    font-size: 1.5rem;
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
}
.capsules-div .show-more-btn{
    background-color: white;
    margin:20px 0;
    width: 120px;
    height: 30px;
    cursor: pointer;
}
.capsules-div .show-more-btn:hover{
    background-color: rgb(212, 212, 212);
}

/*Footer*/

footer{
    border-top: 1px solid rgb(175, 175, 175);
    height: 70px;
}
footer .footer-div{
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}
.footer-div a, .footer-div p{
    color: black;
    text-decoration: none;
    margin: 10px 20px 0 0;
}
.footer-div a:hover{
    color: rgb(105, 105, 105);
}